.list{
    display: flex;
    justify-content:space-evenly;
    align-items: center; 
    list-style: none;
    padding: 2%;
    margin-top: 3%;   
}

.links{
    text-decoration: none;
    font-weight: 700;
}

.links:hover{
    color: rgb(205, 22, 184);
    transition: 0.5s;
}