.input-text {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding: 0 20px;
  box-sizing: border-box;
  border: 1px solid #999;
  font-family: "Nunito";
  font-weight: 600;
  font-size: 16px;
}

.input-text:focus {
  outline-color: #a900dd;
}
